.mainWrapper {
  background-image: url("../assets/imgs/bg.png");
  @apply bg-no-repeat bg-cover bg-center bg-fixed min-h-[calc(100vh-6rem)];
}

.wrapper {
  @apply w-10/12 mx-auto;
}

.gridWrapper {
  @apply md:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.filter__category {
  @apply ml-5;
}

.category {
  @apply my-2 flex items-center;

  input[type="checkbox"] {
    @apply appearance-none bg-transparent border-2 mr-2 duration-100 focus:ring-[#115E67] focus:ring-4 w-5 h-5 rounded hover:bg-violet-900 hover:bg-opacity-40;
  }

  input[type="checkbox"]::before {
    content: "✓";
    display: block;
    line-height: 16px;
    text-align: center;
    width: 16px;
    height: 16px;
    visibility: hidden;
    @apply duration-100 bg-[#3F2A56];
  }

  input[type="checkbox"]:checked::before {
    visibility: visible;
    @apply duration-100;
  }

  label {
    @apply cursor-pointer;
  }

  &__small {
    @apply block px-4 py-2 hover:bg-[#115E67];

    &:first-child {
      @apply hover:rounded-t-lg;
    }

    &:first-child {
      @apply hover:rounded-b-lg;
    }
  }
}

.pagination {
  &__div {
    @apply flex justify-center mt-10 pb-10;
  }

  &__wrapper {
    @apply flex;
  }

  &__item {
    @apply px-3 py-2 ml-0  border-neutral-700 bg-[#3F2A56] bg-opacity-70 hover:bg-opacity-100 duration-300;
  }
}

.sort {
  &__buttons {
    @apply my-2 flex items-center px-2;
  }

  &__wrapper {
    @apply absolute -right-4 mt-2 w-48 bg-neutral-800 rounded-lg;

    label {
      @apply px-1 cursor-pointer;
    }
  }
}
